# Tech Exp Course 2, Session 1: Pandas

**Instructor**: Wesley Beckner<br>

**Contact**: wesleybeckner@gmail.com

<br>

---

<br>

Today, we will jump into the **Pandas** package.  Packages are collections of related functions.  These are the things we `import`. Pandas is a two dimensional data structure like a spreadsheet in Excel. In fact, we will be importing our first dataset and viewing it, with Pandas!

<br>

---

In [1]:
# !pip install -U pandas
!pip install -U openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 3.9 MB/s
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed openpyxl-3.0.7

## 1.1 The scientific python stack

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

#### [``scikit-learn``](https://scikit-learn.org/stable/): Machine Learning in Python

Scikit-learn is a machine learning library.

It features various classification, regression, and clustering algorithms, including support vector machines, random forests, gradient boosting, k-means, and DBSCAN.

The library is designed to interoperate with the Python numerical and scientific libraries NumPy and SciPy.

## 1.2 The Revered, The Loved, The Pandas

As a side note, every year stack overflow conducts a developer survey. Pandas is the fourth most popular miscellaneous framework among developers, out of all common coding languages!

<img src="https://raw.githubusercontent.com/wesleybeckner/ds_for_engineers/main/assets/other_frameworks_description.JPG" width=400px></img>

<img src="https://raw.githubusercontent.com/wesleybeckner/ds_for_engineers/main/assets/other_frameworks_results.JPG" width=400px></img>

<small>source: insights.stackoverflow.com/survey/2020</small>

## 1.3 Pandas

### 1.3.1 Pandas and Scikit-Learn `load_datasets`

We begin by loading the Panda's package.  Packages are collections of functions that share a common utility.  We've seen `import` before.  Let's use it to import Pandas and all the richness that pandas has.

We'll also use a very useful feature of the scikit-learn toolkit, the `load_datasets` module. We will do some very rudimentary tasks with this dataset, just to demonstrate the utility of `load_datasets`, then we will switch over to a more relevant dataset for our purposes.

```
import pandas
from sklearn.datasets import load_wine
```

In [2]:
import pandas # as some_alias_name
from sklearn.datasets import load_wine

We import a function `load_wine` that loads a simple data set we can play with called the Wine recognition dataset from the 1980s.

You can read more about that dataset [here](https://archive.ics.uci.edu/ml/datasets/Wine)

```
dataset = load_wine()
print(dataset.DESCR)
```

In [3]:
dataset = load_wine()
print(dataset.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

```
df = pandas.DataFrame()
```

In [4]:
df = pandas.DataFrame()

In [5]:
df

Empty DataFrame
Columns: []
Index: []

#### 1.3.1.1 import ... as ... pattern

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

```
import pandas as pd
```

In [6]:
import pandas as pd

### 1.3.2 Creating pandas dataframes

Let's create an empty _data frame_ and put the result into a variable called `df`.  This is a popular choice for a _data frame_ variable name.

```
df = pd.DataFrame()
```

In [7]:
df = pd.DataFrame()

Let's open the Wine dataset as a pandas data frame.  Notice we change the value of the `df` variable to point to a new data frame.

```
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
```

In [8]:
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)

In [9]:
df

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0      14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1      13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2      13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3      14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4      13.24        2.59  2.87  ...  1.04                          2.93    735.0
..       ...         ...   ...  ...   ...                           ...      ...
173    13.71        5.65  2.45  ...  0.64                          1.74    740.0
174    13.40        3.91  2.48  ...  0.70                          1.56    750.0
175    13.27        4.28  2.26  ...  0.59                          1.56    835.0
176    13.17        2.59  2.37  ...  0.60                          1.62    840.0
177    14.13        4.10  2.74  ...  0.61                          1.60    560.0

[178 rows x 13 columns]

#### 1.3.2.1 From excel and csv

Please follow this [link](https://raw.githubusercontent.com/wesleybeckner/ds_for_engineers/main/data/truffle_margin/margin_data.csv)

This is what we call a csv or comma separated value file. We have a method reading these directly into pandas:

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/wesleybeckner/technology_explorers/main/assets/imdb_movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We can do this in a similar way with excel files.

In [11]:
pd.read_excel('https://raw.githubusercontent.com/wesleybeckner/ds_for_engineers/main/data/truffle_margin/margin_data.xlsx')

     Base Cake  ...                                            Product
0     Tiramisu  ...  Tiramisu-Chocolate Outer-Doughnut-Egg Nog-Amet...
1     Tiramisu  ...  Tiramisu-Chocolate Outer-Doughnut-Egg Nog-Amet...
2     Tiramisu  ...  Tiramisu-Chocolate Outer-Chocolate-Pear-Amethy...
3     Tiramisu  ...  Tiramisu-Chocolate Outer-Doughnut-Egg Nog-Amet...
4     Tiramisu  ...  Tiramisu-Chocolate Outer-Doughnut-Rock and Rye...
...        ...  ...                                                ...
2501    Butter  ...  Butter-Chocolate Outer-Lemon Bar-Wild Cherry C...
2502    Butter  ...  Butter-Chocolate Outer-Cream Soda-Peppermint-A...
2503    Butter  ...  Butter-Jelly Filled-Orange-Cucumber-Burgundy-9...
2504    Butter  ...  Butter-Chocolate Outer-Horchata-Dill Pickle-Am...
2505    Butter  ...  Butter-Candy Outer-Ginger Lime-Vanilla-Amethys...

[2506 rows x 10 columns]

#### 1.3.2.2 from lists

In [12]:
my_list = [[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]]
pd.DataFrame(my_list)

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [13]:
pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]],
                   index=['a', 'b', 'c', 'd'], columns=['x', 'y', 'z'])

   x  y  z
a  1  2  3
b  3  4  5
c  5  6  7
d  7  8  9

#### 1.3.2.3 from dictionaries

In [14]:
thing = {'A': ['apple', 'airplane'], 'B': ['bannana', 'bubbles']}
thing

{'A': ['apple', 'airplane'], 'B': ['bannana', 'bubbles']}

In [15]:
thing['C'] = ['car', 'cat']
thing

{'A': ['apple', 'airplane'], 'B': ['bannana', 'bubbles'], 'C': ['car', 'cat']}

In [16]:
from_dict = pd.DataFrame(thing)
from_dict

          A        B    C
0     apple  bannana  car
1  airplane  bubbles  cat

In [17]:
from_dict = pd.DataFrame({'A': ['apple', 'airplane'], 'B': ['bannana', 'bubbles']})
from_dict

          A        B
0     apple  bannana
1  airplane  bubbles

In [18]:
from_dict.to_dict()

{'A': {0: 'apple', 1: 'airplane'}, 'B': {0: 'bannana', 1: 'bubbles'}}

#### Exercise 1: Create a DataFrame

Create a dictionary with the following keys: `movies, songs, books`. In each key list your top 5 favorites in the cooresponding category. Then use `pd.DataFrame` to turn this into a dictionary.

In [19]:
# Cell for Ex 1
faves = {'movies': ['The Return of the King', 'The Matrix', 'What Dreams May Come', 'The Big Lebowski', 'Evangelion'],
         'songs': ['The Scientist', 'Father Ocean', 'Clair de Lune', 'Bohemian Rhapsody', 'American Pie'],
         'books': ["Buddha's Brain", 'The Tombs of Antuan', 'The Road Less Traveled', 'Wizard and Glass', 'The Subtle Knife']}
faves = pd.DataFrame(faves, index=['a', 'b', 'c', 'd', 'e'])

In [20]:
faves['movies']

a    The Return of the King
b                The Matrix
c      What Dreams May Come
d          The Big Lebowski
e                Evangelion
Name: movies, dtype: object

#### 1.3.2.4 on `pandas.Series`

pandas `Series` objects will percolate in our experience here and there, however they are not so important as for us to wish to spend dedicated time on them. For now, know that they are a lower-level data collection in the pandas framework. You can think of them as an individual column or row in the pandas dataframe. For more practice with these you can refer to [this documentation]()

### 1.3.3 Viewing pandas dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data.

```
df.head()
df.tail()
```

In [21]:
df.head()

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [22]:
df.tail(10)

      imdb_title_id  ... reviews_from_critics
85845     tt9904250  ...                  5.0
85846     tt9904802  ...                  6.0
85847     tt9905412  ...                  NaN
85848     tt9905462  ...                  NaN
85849     tt9906644  ...                  1.0
85850     tt9908390  ...                  4.0
85851     tt9911196  ...                  4.0
85852     tt9911774  ...                  NaN
85853     tt9914286  ...                  NaN
85854     tt9914942  ...                  2.0

[10 rows x 22 columns]

The ``shape`` attribute shows us the number of elements:

```
df.shape
```

Note it doesn't have the `()` because it isn't a **_function_** - it is an **_attribute_** or variable attached to the `df` object.

In [23]:
df.shape

(85855, 22)

The ``columns`` attribute gives us the column names

```
df.columns
```

In [24]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

The ``index`` attribute gives us the index names

```
df.index
```

In [25]:
df.index

RangeIndex(start=0, stop=85855, step=1)

The ``dtypes`` attribute gives the data types of each column, remember the data type *_floating point_**?:

```
df.dtypes
```

In [26]:
df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [27]:
df.describe()

           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

#### Exercise 2: Viewing DataFrames

Using the dataframe you made in exercise 1, return the following attributes: the datatype stored in each column, the column names, the indices, and the shape.

In [28]:
# Cell for Ex 2
print(faves.dtypes)
print(faves.columns)
print(faves.index)
print(faves.shape)

movies    object
songs     object
books     object
dtype: object
Index(['movies', 'songs', 'books'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
(5, 3)

### 1.3.4 Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

#### 1.3.4.1 Selection

Access columns by name using square-bracket indexing:

```
df['duration']
```

In [29]:
df['duration']

0         45
1         70
2         53
3        100
4         68
        ...
85850     95
85851    103
85852    130
85853     98
85854     74
Name: duration, Length: 85855, dtype: int64

Mathematical operations on columns happen *element-wise*:

```
df['duration'] / 60
```

In [30]:
df['duration'] / 60

0        0.750000
1        1.166667
2        0.883333
3        1.666667
4        1.133333
           ...
85850    1.583333
85851    1.716667
85852    2.166667
85853    1.633333
85854    1.233333
Name: duration, Length: 85855, dtype: float64


Columns can be created (or overwritten) with the assignment operator.
Let's create a column with duration in hours.

```
df['duration (hours)'] = df['duration'] / 60
```

In [31]:
df['duration (hours)'] = df['duration'] / 60

Let's use the `.head()` **_function_** to see our new data!

```
df.head()
```

In [32]:
df.head()

  imdb_title_id  ... duration (hours)
0     tt0000009  ...         0.750000
1     tt0000574  ...         1.166667
2     tt0001892  ...         0.883333
3     tt0002101  ...         1.666667
4     tt0002130  ...         1.133333

[5 rows x 23 columns]

##### 1.3.4.1.1 `loc` and `iloc`

Pandas provides a powerful way to work with both rows and columns together, optionally using their label indices or numeric indices.

- **`.loc :`**<br/>
Purely label-location based indexer for selection by label (but may also be used with a boolean array).<br/>
  **Important: If you use slicing in loc, it will return the end index as well**
  

- **`.iloc:`**<br/>
Purely integer-location based indexing for selection by position (but may also be used with a boolean array).

In [33]:
df.columns[1]

'title'

In [34]:
df.index

RangeIndex(start=0, stop=85855, step=1)

In [35]:
df.loc[1:10:2, 'title']

1                          The Story of the Kelly Gang
3                                            Cleopatra
5    From the Manger to the Cross; or, Jesus of Naz...
7                                           Quo Vadis?
9                                          Richard III
Name: title, dtype: object

In [36]:
df.loc[:5:2, [df.columns[1]]]

            title
0      Miss Jerry
2  Den sorte drøm
4       L'Inferno

In [37]:
df.columns[[3,5]]

Index(['year', 'genre'], dtype='object')

In [38]:
df.iloc[-5:, [3,5]]

       year          genre
85850  2020         Comedy
85851  2020  Comedy, Drama
85852  2019          Drama
85853  2019  Drama, Family
85854  2019          Drama

##### 1.3.4.1.2 column vs index access

In [39]:
df['duration'][0:10]

0     45
1     70
2     53
3    100
4     68
5     60
6     85
7    120
8    120
9     55
Name: duration, dtype: int64

In [40]:
# df[0]['duration'] # will return an error

In [41]:
my_list

[[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]]

In [42]:
my_list = [[10, 20, 30]]*4
mydf = pd.DataFrame(my_list, 
                    index=['a','b','c','d'], 
                    columns=['alpha', 'beta', 'gamma'])
mydf

   alpha  beta  gamma
a     10    20     30
b     10    20     30
c     10    20     30
d     10    20     30

In [43]:
mydf.loc['a', 'alpha'] = 'mychange'

In [44]:
mydf

      alpha  beta  gamma
a  mychange    20     30
b        10    20     30
c        10    20     30
d        10    20     30

In [45]:
# using this you will get a setting
# with copy warning (depending on your pandas warning settings)
# mydf['alpha']['a'] = 'newchange'

You want to use `loc` or `iloc` when setting new values to pandas dataframes.

##### Exercise 3: Selecting

select the first 10 rows of the country, genre, and year columns using `loc`. Repeat the same exercise using `iloc`

In [46]:
# Cell for Ex 3
df.loc[:9, ['year', 'genre', 'country']] == df.iloc[:10, [3, 5, 7]]

   year  genre  country
0  True   True     True
1  True   True     True
2  True   True     True
3  True   True     True
4  True   True     True
5  True   True     True
6  True   True     True
7  True   True     True
8  True   True     True
9  True   True     True

In [47]:
df.iloc[:10, [3, 5, 7]]

   year                      genre           country
0  1894                    Romance               USA
1  1906    Biography, Crime, Drama         Australia
2  1911                      Drama  Germany, Denmark
3  1912             Drama, History               USA
4  1911  Adventure, Drama, Fantasy             Italy
5  1912           Biography, Drama               USA
6  1919  Biography, Drama, Romance           Germany
7  1913             Drama, History             Italy
8  1912               History, War           Romania
9  1912                      Drama       France, USA

#### 1.3.4.2 Filtering

filtering down your selection will be BIGLY useful in your data quests

##### 1.3.4.2.1 By String

one of the first tools we'll use to filter our dataset is the `.str.contains` method. Let's take an example.

In [48]:
# remember, if we don't remember our column mames we can quickly pull them up 
# with:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'duration (hours)'],
      dtype='object')

In [49]:
df['description'][85853]

nan

In [50]:
df['description'].str.contains('a.i.')

0        False
1         True
2         True
3        False
4         True
         ...
85850     True
85851    False
85852      NaN
85853      NaN
85854    False
Name: description, Length: 85855, dtype: object

In [51]:
[df['description'].str.contains('a\.i\.', na=False)]

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 85850    False
 85851    False
 85852    False
 85853    False
 85854    False
 Name: description, Length: 85855, dtype: bool]

In [52]:
df['description'][85850]

'A psychiatric hospital patient pretends to be crazy. In charge of caring for this patient, a caregiver will begin to doubt the mental state of his "protégé".'

In [53]:
df.iloc[17920]['description']

'A scientist creates Proteus--an organic super computer with artificial intelligence which becomes obsessed with human beings, and in particular the creators wife.'

In [54]:
df[df['description'].str.contains('artificial intelligence', na=False)]

      imdb_title_id  ... duration (hours)
17920     tt0075931  ...         1.566667
44484     tt0382992  ...         2.016667
65411     tt2209764  ...         1.983333
68589     tt2769184  ...         1.433333
71500     tt3502284  ...         1.833333
75759     tt4788944  ...         1.950000
75907     tt4839424  ...         1.416667
76214     tt4937114  ...         1.683333
79921     tt6197070  ...         0.833333
83905     tt8196068  ...         1.483333
84615     tt8712750  ...         1.283333
85361     tt9308170  ...         2.033333

[12 rows x 23 columns]

or if you know the exact string you are looking for

In [55]:
df[df['title'] == "Fight Club"]

      imdb_title_id       title  ... reviews_from_critics duration (hours)
32487     tt0137523  Fight Club  ...                370.0         2.316667

[1 rows x 23 columns]

In [56]:
df[df['title'] == "Fight Club"]

      imdb_title_id       title  ... reviews_from_critics duration (hours)
32487     tt0137523  Fight Club  ...                370.0         2.316667

[1 rows x 23 columns]

##### 1.3.4.2.2 By numerical value

In [57]:
df[df['votes'] > 1000]

      imdb_title_id  ... duration (hours)
4         tt0002130  ...         1.133333
11        tt0002844  ...         0.900000
13        tt0003037  ...         1.016667
16        tt0003165  ...         1.500000
18        tt0003419  ...         1.416667
...             ...  ...              ...
85811     tt9860728  ...         1.633333
85817     tt9866700  ...         1.533333
85837     tt9894470  ...         1.533333
85839     tt9898858  ...         1.466667
85843     tt9900782  ...         2.416667

[29362 rows x 23 columns]

##### Exercise 4: Filtering

* Filter `df` for all the movies that are longer than 2 hours
* Filter `df` for all movies where 'day' is in the title

In [161]:
# Cell for Ex 4
df[df['duration'] > 120].shape

(11166, 23)

In [162]:
df[df['title'].str.contains('day')].shape

(202, 23)

#### 1.3.4.3 Select, filter, operation

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

In [61]:
# a basic select, filter, operate procedure would look like:
df[df['country'] == 'USA']['duration'].describe()

count    28511.000000
mean        93.050437
std         18.576873
min         42.000000
25%         84.000000
50%         91.000000
75%        100.000000
max        398.000000
Name: duration, dtype: float64

we can invert the selection with `~`

In [65]:
df[~(df['country'] == 'USA')]['duration'].describe()

count    57344.000000
mean       103.981410
std         23.459158
min         41.000000
25%         90.000000
50%         99.000000
75%        112.000000
max        808.000000
Name: duration, dtype: float64

In preparation for grouping the data, let's bin the instances by their duration (we could have chosen any numerical column). For that, we'll use ``pd.cut``.  The documentation for ``pd.cut`` can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html). It is used to bin values into discrete intervals.  This is like a histogram where for each *bin* along the range of data values, you count the number of occurrences of that bin.  in our example, we'll use 10 bins and let Pandas decide how to evenly divide the range into the bins.  Let's see it in action.

```
df['duration_group'] = pd.cut(df['duration'], 10)
df.head()
df.dtypes
```

In [66]:
pd.cut(df['duration'], 10)

0        (40.233, 117.7]
1        (40.233, 117.7]
2        (40.233, 117.7]
3        (40.233, 117.7]
4        (40.233, 117.7]
              ...
85850    (40.233, 117.7]
85851    (40.233, 117.7]
85852     (117.7, 194.4]
85853    (40.233, 117.7]
85854    (40.233, 117.7]
Name: duration, Length: 85855, dtype: category
Categories (10, interval[float64]): [(40.233, 117.7] < (117.7, 194.4] < (194.4, 271.1] <
                                     (271.1, 347.8] ... (501.2, 577.9] < (577.9, 654.6] <
                                     (654.6, 731.3] < (731.3, 808.0]]

In [67]:
df['duration_group'] = pd.cut(df['duration'], 10)

In [68]:
df.head()

  imdb_title_id                        title  ... duration (hours)   duration_group
0     tt0000009                   Miss Jerry  ...         0.750000  (40.233, 117.7]
1     tt0000574  The Story of the Kelly Gang  ...         1.166667  (40.233, 117.7]
2     tt0001892               Den sorte drøm  ...         0.883333  (40.233, 117.7]
3     tt0002101                    Cleopatra  ...         1.666667  (40.233, 117.7]
4     tt0002130                    L'Inferno  ...         1.133333  (40.233, 117.7]

[5 rows x 24 columns]

In [69]:
df.dtypes

imdb_title_id              object
title                      object
original_title             object
year                       object
date_published             object
genre                      object
duration                    int64
country                    object
language                   object
director                   object
writer                     object
production_company         object
actors                     object
description                object
avg_vote                  float64
votes                       int64
budget                     object
usa_gross_income           object
worlwide_gross_income      object
metascore                 float64
reviews_from_users        float64
reviews_from_critics      float64
duration (hours)          float64
duration_group           category
dtype: object

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down the movies by their duration group that we just created:

```
pd.value_counts(df['duration_group'], sort=False)
```

In [72]:
pd.value_counts(df['duration_group'], sort=False)

(40.233, 117.7]    72368
(117.7, 194.4]     13197
(194.4, 271.1]       228
(271.1, 347.8]        40
(347.8, 424.5]        11
(424.5, 501.2]         4
(501.2, 577.9]         4
(577.9, 654.6]         1
(654.6, 731.3]         1
(731.3, 808.0]         1
Name: duration_group, dtype: int64

What happens if we try this on a continuous valued variable?

```
pd.value_counts(df['duration'])
```

In [73]:
pd.value_counts(df['duration'])

90     5162
95     3194
100    3106
92     2418
93     2414
       ...
279       1
301       1
345       1
729       1
319       1
Name: duration, Length: 266, dtype: int64

##### Exercise 5: `value_counts, unique, nunique`

We can do a little data exploration with this by seeing how common different values are. Play around with these pandas methods:

* `value_counts()`
* `unique()`
* `nunique()`

Also be sure to use:

* selection
* filteration
* (and you are already using operation with the above mentioned pandas methods, value_counts, unique, nunique (: )

Do so with 3 different columns in the dataframe

In [103]:
# Cell for Exercise 5
df.loc[df['actors'].str.contains('Brad Pitt', na=False)].describe()

         duration   avg_vote  ...  reviews_from_critics  duration (hours)
count   45.000000  45.000000  ...             45.000000         45.000000
mean   123.577778   6.862222  ...            217.888889          2.059630
std     21.646424   0.990016  ...            176.979740          0.360774
min     88.000000   4.400000  ...              1.000000          1.466667
25%    104.000000   6.200000  ...             68.000000          1.733333
50%    123.000000   7.100000  ...            161.000000          2.050000
75%    134.000000   7.500000  ...            317.000000          2.233333
max    178.000000   8.800000  ...            672.000000          2.966667

[8 rows x 7 columns]

In [104]:
df.loc[~(df['actors'].str.contains('Brad Pitt', na=False))].describe()

           duration      avg_vote  ...  reviews_from_critics  duration (hours)
count  85810.000000  85810.000000  ...          74013.000000      85810.000000
mean     100.339238      5.898151  ...             27.364220          1.672321
std       22.548160      1.234910  ...             58.007317          0.375803
min       41.000000      1.000000  ...              1.000000          0.683333
25%       88.000000      5.200000  ...              3.000000          1.466667
50%       96.000000      6.100000  ...              8.000000          1.600000
75%      108.000000      6.800000  ...             23.000000          1.800000
max      808.000000      9.900000  ...            999.000000         13.466667

[8 rows x 7 columns]

In [95]:
df.loc[:, df.dtypes == object].describe()

       imdb_title_id  title  ... usa_gross_income worlwide_gross_income
count          85855  85855  ...            15326                 31016
unique         85855  82094  ...            14857                 30414
top        tt0081684   Anna  ...        $ 1000000                $ 8144
freq               1     10  ...               19                    15

[4 rows x 16 columns]

In [87]:
df.loc[~(df['actors'].str.contains('Brad Pitt', na=False))].describe()

           duration      avg_vote  ...  reviews_from_critics  duration (hours)
count  85810.000000  85810.000000  ...          74013.000000      85810.000000
mean     100.339238      5.898151  ...             27.364220          1.672321
std       22.548160      1.234910  ...             58.007317          0.375803
min       41.000000      1.000000  ...              1.000000          0.683333
25%       88.000000      5.200000  ...              3.000000          1.466667
50%       96.000000      6.100000  ...              8.000000          1.600000
75%      108.000000      6.800000  ...             23.000000          1.800000
max      808.000000      9.900000  ...            999.000000         13.466667

[8 rows x 7 columns]

In [88]:
df.head()

  imdb_title_id                        title  ... duration (hours)   duration_group
0     tt0000009                   Miss Jerry  ...         0.750000  (40.233, 117.7]
1     tt0000574  The Story of the Kelly Gang  ...         1.166667  (40.233, 117.7]
2     tt0001892               Den sorte drøm  ...         0.883333  (40.233, 117.7]
3     tt0002101                    Cleopatra  ...         1.666667  (40.233, 117.7]
4     tt0002130                    L'Inferno  ...         1.133333  (40.233, 117.7]

[5 rows x 24 columns]

#### 1.3.4.4 Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

![image](https://swcarpentry.github.io/r-novice-gapminder/fig/12-plyr-fig1.png)

#### 1.3.4.5 Summary statistics with groupby: `value_counts`,  `count`, `describe`

Let's break take this in smaller steps.
Recall our ``duration_group`` column.

```
pd.value_counts(df['duration_group'])
```

In [ ]:
pd.value_counts(df['duration_group'])

(40.233, 117.7]    72368
(117.7, 194.4]     13197
(194.4, 271.1]       228
(271.1, 347.8]        40
(347.8, 424.5]        11
(501.2, 577.9]         4
(424.5, 501.2]         4
(731.3, 808.0]         1
(654.6, 731.3]         1
(577.9, 654.6]         1
Name: duration_group, dtype: int64

`groupby` allows us to look at the number of values for each column and each value.  The group by documentation is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).  Basically, `groupby` allows us to create *groups* of records based on their values. Let's count how many records, or rows, in our data set fall into each bin of our duration data.

```
df.groupby(['duration_group']).count()
```

In [105]:
df.groupby(['duration_group']).count()

                 imdb_title_id  title  ...  reviews_from_critics  duration (hours)
duration_group                         ...
(40.233, 117.7]          72368  72368  ...                 63321             72368
(117.7, 194.4]           13197  13197  ...                 10493             13197
(194.4, 271.1]             228    228  ...                   188               228
(271.1, 347.8]              40     40  ...                    37                40
(347.8, 424.5]              11     11  ...                    10                11
(424.5, 501.2]               4      4  ...                     4                 4
(501.2, 577.9]               4      4  ...                     3                 4
(577.9, 654.6]               1      1  ...                     0                 1
(654.6, 731.3]               1      1  ...                     1                 1
(731.3, 808.0]               1      1  ...                     1                 1

[10 rows x 23 columns]

In [108]:
df.groupby('country')['duration'].mean().sort_values(ascending=False)

country
Philippines, Netherlands                       540.0
Philippines, Netherlands, Sweden               540.0
Hungary, Germany, Switzerland                  439.0
France, Portugal, West Germany, Switzerland    410.0
France, Italy, West Germany, Canada, UK        335.0
                                               ...
Korea                                           46.0
Canada, UK, Brazil                              46.0
Senegal, Switzerland, France                    46.0
Senegal, France, Switzerland, Germany           45.0
Russia, Ukraine, Czech Republic, Japan          45.0
Name: duration, Length: 4907, dtype: float64

Now, let's find the mean of each of the columns for each ``duration_group``.  *Notice* what happens to the non-numeric columns.

```
df.groupby(['duration_group']).mean()
```

In [112]:
df.groupby(['duration_group']).mean()

                   duration  avg_vote  ...  reviews_from_critics  duration (hours)
duration_group                         ...
(40.233, 117.7]   93.147026  5.786671  ...             24.517601          1.552450
(117.7, 194.4]   136.552550  6.488513  ...             45.365958          2.275876
(194.4, 271.1]   220.394737  6.997368  ...             29.015957          3.673246
(271.1, 347.8]   302.975000  6.810000  ...             21.513514          5.049583
(347.8, 424.5]   384.636364  7.181818  ...             18.100000          6.410606
(424.5, 501.2]   454.000000  7.700000  ...             24.500000          7.566667
(501.2, 577.9]   547.500000  7.875000  ...              8.666667          9.125000
(577.9, 654.6]   580.000000  5.800000  ...                   NaN          9.666667
(654.6, 731.3]   729.000000  7.800000  ...             30.000000         12.150000
(731.3, 808.0]   808.000000  7.700000  ...             23.000000         13.466667

[10 rows x 7 columns]

You can specify a groupby using the names of table columns and compute other functions, such as the ``sum``, ``count``, ``std``, and ``describe``.

```
df.groupby(['duration_group'])['metascore'].describe()
```

In [ ]:
df.groupby(['duration_group'])['metascore'].describe()

                   count       mean        std   min    25%   50%    75%    max
duration_group
(40.233, 117.7]  10759.0  54.153267  17.655622   1.0  41.00  55.0  67.00  100.0
(117.7, 194.4]    2506.0  63.042298  16.265137   9.0  52.00  64.0  75.00  100.0
(194.4, 271.1]      28.0  76.500000  20.532720  10.0  69.75  82.0  90.00  100.0
(271.1, 347.8]       8.0  79.375000  12.070478  56.0  72.25  84.5  88.25   90.0
(347.8, 424.5]       1.0  89.000000        NaN  89.0  89.00  89.0  89.00   89.0
(424.5, 501.2]       1.0  59.000000        NaN  59.0  59.00  59.0  59.00   59.0
(501.2, 577.9]       0.0        NaN        NaN   NaN    NaN   NaN    NaN    NaN
(577.9, 654.6]       0.0        NaN        NaN   NaN    NaN   NaN    NaN    NaN
(654.6, 731.3]       1.0  87.000000        NaN  87.0  87.00  87.0  87.00   87.0
(731.3, 808.0]       1.0  77.000000        NaN  77.0  77.00  77.0  77.00   77.0

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

You can even group by multiple values: for example we can look at the metascore grouped by the ``duration_group`` and ``country``.

In [ ]:
df.groupby(['duration_group', 'country'])['metascore'].describe()

                                                                count  ...   max
duration_group  country                                                ...
(40.233, 117.7] Afghanistan, France                               0.0  ...   NaN
                Afghanistan, France, Germany, UK                  1.0  ...  64.0
                Afghanistan, Iran                                 0.0  ...   NaN
                Afghanistan, Ireland, Japan, Iran, Netherlands    1.0  ...  83.0
                Albania                                           0.0  ...   NaN
...                                                               ...  ...   ...
(501.2, 577.9]  Philippines, Netherlands, Sweden                  0.0  ...   NaN
                Russia                                            0.0  ...   NaN
(577.9, 654.6]  Soviet Union                                      0.0  ...   NaN
(654.6, 731.3]  France                                            1.0  ...  87.0
(731.3, 808.0]  Argentina                                         1.0  ...  77.0

[5565 rows x 8 columns]

##### Exercise 6: Group-by

<ol>
<li>use <code>pd.cut</code> to perform a grouping of one or more of the dataframe columns
<li>use <code>groupby</code> to group by that (those) columns and then perform
<li>three different statistical summaries in three separate instances

In [124]:
# Cell for excercise 6
df['vote_group'] = pd.cut(df['votes'], 10)

In [125]:
df.groupby('vote_group')['duration'].count()

vote_group
(-2179.746, 227973.6]     85116
(227973.6, 455848.2]        484
(455848.2, 683722.8]        146
(683722.8, 911597.4]         59
(911597.4, 1139472.0]        24
(1139472.0, 1367346.6]       12
(1367346.6, 1595221.2]        5
(1595221.2, 1823095.8]        6
(1823095.8, 2050970.4]        1
(2050970.4, 2278845.0]        2
Name: duration, dtype: int64

In [118]:
df.groupby('vote_group')['duration'].mean()

vote_group
(-2179.746, 114036.3]     100.028737
(114036.3, 227973.6]      111.757743
(227973.6, 341910.9]      120.320755
(341910.9, 455848.2]      120.319277
(455848.2, 569785.5]      123.540230
(569785.5, 683722.8]      127.322034
(683722.8, 797660.1]      125.051282
(797660.1, 911597.4]      120.900000
(911597.4, 1025534.7]     127.500000
(1025534.7, 1139472.0]    145.750000
(1139472.0, 1253409.3]    151.111111
(1253409.3, 1367346.6]    153.333333
(1367346.6, 1481283.9]    159.750000
(1481283.9, 1595221.2]    175.000000
(1595221.2, 1709158.5]    171.666667
(1709158.5, 1823095.8]    145.000000
(1823095.8, 1937033.1]           NaN
(1937033.1, 2050970.4]    148.000000
(2050970.4, 2164907.7]           NaN
(2164907.7, 2278845.0]    147.000000
Name: duration, dtype: float64

In [119]:
df.groupby('vote_group')['duration'].median()

vote_group
(-2179.746, 114036.3]      96.0
(114036.3, 227973.6]      109.0
(227973.6, 341910.9]      118.0
(341910.9, 455848.2]      120.0
(455848.2, 569785.5]      123.0
(569785.5, 683722.8]      127.0
(683722.8, 797660.1]      122.0
(797660.1, 911597.4]      122.0
(911597.4, 1025534.7]     123.5
(1025534.7, 1139472.0]    131.0
(1139472.0, 1253409.3]    151.0
(1253409.3, 1367346.6]    155.0
(1367346.6, 1481283.9]    166.5
(1481283.9, 1595221.2]    175.0
(1595221.2, 1709158.5]    178.0
(1709158.5, 1823095.8]    142.0
(1823095.8, 1937033.1]      NaN
(1937033.1, 2050970.4]    148.0
(2050970.4, 2164907.7]      NaN
(2164907.7, 2278845.0]    147.0
Name: duration, dtype: float64